{% extends "base.html" %}

{% load comments i18n %}

{% block header %}
<script type="text/javascript">
  function ToLocalFromUtc( utc ) {
      date = new Date( utc );
      time_str = date.toLocaleString();
      gmt_pos = time_str.indexOf( "GMT" );
      if( gmt_pos != 0 ) {
          time_str = time_str.substring( 0, gmt_pos );
      }
      return time_str;
  }
</script>

<div id="exit" align="right">
  <a href="/forum">Форум</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% if is_subscribed %}
     <a href="/blog/unsubscribe/">Отписаться от уведомлений, </a>
  {% else %}
     <a href="/blog/subscribe/">Подписаться на уведомления, </a>
  {% endif %}
  {{ user.username }}, <a href="/logout/">Выход</a>
</div>
{% endblock %}

{% block content %}
  {% block blog_content %}
  {% endblock %}
{% endblock %}

{% block sidebar %}
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <script type="text/javascript"
              src="http://www.worldtimeserver.com/clocks/embed.js">
      </script>
      <script type="text/javascript" language="JavaScript">
        objUSNY=new Object;
        objUSNY.wtsclock="wtsclock001.swf";
        objUSNY.color="FF9900";
        objUSNY.wtsid="US-NY";
        objUSNY.width=150;
        objUSNY.height=150;
        objUSNY.wmode="transparent";
        showClock(objUSNY);
      </script>
    </td>
    <td align="center">
      <script type="text/javascript"
              src="http://www.worldtimeserver.com/clocks/embed.js">
      </script>
      <script type="text/javascript" language="JavaScript">
        objUSNY=new Object;
        objUSNY.wtsclock="wtsclock001.swf";
        objUSNY.color="FF9900";
        objUSNY.wtsid="RU-MOW";
        objUSNY.width=150;
        objUSNY.height=150;
        objUSNY.wmode="transparent";
        showClock(objUSNY);
      </script>
    </td>

  </tr>
  <tr>
    <td align="center"><h2>Нью-Йорк</h2></td>
    <td align="center"><h2>Москва</h2></td>
  </tr>
</table>

<h2>Последние комментарии:</h2>
<ul>
  {% for comment in comments %}
  {% if not comment.is_removed %}
  <li>
    <a href="{% get_comment_permalink comment %}">{{ comment.comment|truncatewords:15 }}<BR/></a>
    <script type="text/javascript">
      document.write( ToLocalFromUtc( {{ comment.submit_date|date:"U" }} * 1000 ) )
    </script>
    <BR/>
    {{ comment.user_name }}<BR/>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Последние сообщения форума:</h2>
<ul>
  {% for forum_post in forum_posts %}
  <li>
    <a href="/forum/thread/{{forum_post.thread.id}}/">{{ forum_post.body|truncatewords:15 }}<BR/></a>
    <script type="text/javascript">
      document.write( ToLocalFromUtc( {{ forum_post.created|date:"U" }} * 1000 ) )
    </script>
    <BR/>
    {{ forum_post.creator }}<BR/>
  </li>
  {% endfor %}
</ul>

{% endblock %}
