{% extends "blog_base.html" %}

{% load comments i18n %}


{% block blog_content %}
<h1>{{ post.title }}</h1>
<BR/>
{{ post.content|safe }}
<BR/>
<BR/>
{% get_comment_count for post as comment_count %}
Comments count: {{ comment_count }}
<BR/>

{% get_comment_list for post as comment_list %}
{% for comment in comment_list %}
    <dt id="c{{ comment.id }}">
        {{ comment.submit_date|date:"r" }} - {{ comment.name }}
    </dt>
    <dd>
        <p>{{ comment.comment }}</p>
    </dd>
{% endfor %}
<BR/>

{% get_comment_form for post as form %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
         {% if field.errors %} class="error"{% endif %}
         {% ifequal field.name "honeypot" %} style="display:none;" 
         {% else %}
            {% ifequal field.name "name" %} style="display:none;"
            {% else %}
                {% ifequal field.name "url" %} style="display:none;"
                {% else %}
                    {% ifequal field.name "email" %} style="display:none;"
                    {% endifequal %}
                {% endifequal %}
            {% endifequal %}
         {% endifequal %}>
        {{ field.label_tag }} {{ field }}

      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    <input type="hidden" name="next" value="{{ redirect_after_comment }}" />
  </p>
</form>

{% endblock %}
