<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} From Russia to US </title>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    
    <div id="header" align="center">
      {% block header %}
      {% endblock %}
    </div>

    <div class="columns" style="margin: 0px; max-width: 1200px; min-width: 600px; padding: 20px 70px 0px 0px;">
      <div id="content" class="column" style="float: left; width: 60%;" >
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column" style="float: left; width: 20%; padding-left: 20%">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <!-- <div id="footer" align="center"> -->
    <!--   <p>Powered by <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a></p> -->
    <!-- </div> -->

    {% block js %}
    {% endblock %}
  </body>
</html>
